.skills {
    padding: 40px;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn-icon {
    display: flex;
    align-items: center;
    background-color: #2e2e2e00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
  }

.btn-icon i {
    font-size: 50px; /* Ajusta el tamaño del ícono */
    margin-right: 8px; /* Espacio entre ícono y texto */
    transition: transform 0.3s ease; /* Efecto de transición para el tamaño */
}
  
.btn-icon:hover {
    color: #ffffff;
}

.btn-icon:hover i {
    transform: scale(1.2);     /* Aumenta el tamaño del ícono */
}

.btn-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ff6600;
    transition: left 0.3s ease;
    z-index: -1;
}
  
/* Efecto de hover para el botón */
.btn-icon:hover::before {
    left: 0; /* Desliza el color desde la izquierda */
}

@media (max-width: 767px) {
  .skills {
    padding: 20px;
  }

  .btns {
    display: flex;
    flex-wrap: wrap; /* Permite que pasen a otra línea */
    justify-content: center;
    gap: 10px; /* Espacio entre botones */
  }

  .btn-icon {
    flex: 1 0 40%; /* Cada botón ocupa hasta 40% del ancho antes de hacer wrap */
    min-width: 120px; /* Tamaño mínimo para evitar que se achiquen demasiado */
    justify-content: center;
    padding: 10px;
    font-size: 14px;
  }

  .btn-icon i {
    font-size: 36px;
    margin-right: 6px;
  }
}
